* {
  margin: 0;
  padding: 0;
}
body {
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
}
header {
  background-color: rgb(34, 34, 34);
  color: white;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem 2rem 0rem;
}
form #todo-input {
  border: 1px solid black;
  border-radius: 1rem;
  padding-left: 0.8rem;
  height: 8vh;
  width: 25vw;
  font-size: 2rem;
}
form #todo-button {
  border-radius: 50%;
  color: white;
  background-color: rgb(68, 200, 108);
  margin: 1rem;
  cursor: pointer;
  transition: all 0.3s ease ;
  padding: 1rem;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
}

#todo-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newTodo {
  min-width: 30vh;
  font-size: 1.5rem;
}
.final-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}
.complete-btn {
  color: rgb(64, 170, 64);
}
.complete-btn,
.delete-btn {
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  margin-left: 0.3rem;
  /* pointer-events: none; */
}
.complete-btn:hover {
  background-color: rgb(64, 170, 64);
  color: white;
  cursor: pointer;
}
.delete-btn {
  color: orangered;
}

.delete-btn:hover {
  background-color: orangered;
  color: white;
  cursor: pointer;
}
.completed{
    text-decoration: line-through;
    opacity: 0.7;
    transition:  all 0.8s ease-in-out;
}

.select{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
#filter-todo{
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    margin: 0rem 1rem 0rem 1rem;
    cursor: pointer;
}
